.control-group
  %label.control-label{:for => opts[:field_name]}= t("users.new.fields.#{opts[:field_name]}")
  .controls
    != opts[:field].select opts[:field_name], options_from_collection_for_select(opts[:options], :id, :name, opts[:user].send(opts[:field_name]))
