.control-group
  %label.control-label{:for => opts[:field_name]}= opts[:label]
  .controls
    %input{:id => opts[:field_name], :name => opts[:field_name], :type => opts[:type], value: opts[:value]}
    - if defined? body
      != body