.info
  %strong= req.category.name
.action
  %a.btn{href: "#user_request_modal_#{req.id}", data: {toggle: "modal"}}= t("requests.row.i_want_to_help")

!= render partial: "modals/user/request_modal", locals: {vrequest: req, id: "user_request_modal_#{req.id}"}
