.info
  %strong= req.responses.count
  %span= t("requests.row.volunteers")
.action
  %a.btn{ href: "#school_request_modal#{req.id}", data: { toggle: "modal" } }= t("requests.row.more_details_action")
