@mixin welcome-box {
  p{
    font-size: 16px;
  }

  .steps{
    width: 271px;
    margin: -15px 0;
    padding: 15px 15px 15px 0;
    border-right: 1px solid #eaecee;

    ol{
      font-family: $title-fonts;
      color: $grey-title-text;
      margin: 0;
      font-weight: $light;
      list-style-position: inside;
      list-style: none;
      font-size: 22px;
      counter-reset: level1;
    }

    li{

      line-height: 37px;
      .step{
        vertical-align: middle;
        font-size: 16px;
      }

      &:before {
        content: counter(level1);
        counter-increment: level1;
        background: #eaecee;
        width: 25px;
        height: 25px;
        @include border-radius(25px);
        @include inline-block;
        text-align: center;
        line-height: 27px;
        margin-left: 5px;
      }
    }

  }
}