.new_request {
  .examples {
    .title {
      margin-bottom: 5px
    }

    .description {
      font-size: 14px;
      margin-bottom: 5px
    }

    .type {
      font-size: 12px;
      padding-right: 10px;
    }

    .time {
      font-size: 12px;
      padding-right: 10px;
    }
  }
}
