@import "master";
@import "./welcome_box";
@import "./profile_box";
//= require_self

.requests_index {

  .top_panel {
    margin-bottom: 30px;

    .box {
      height: 142px;
    }

    .welcome {
      @include welcome-box;
    }

    .profile {
      @include profile-box;
    }
  }

  .main_panel {
    .box {
      padding: 0;

      .header.requests_list_title {
        margin: 0;
      }
    }
  }
}
