@import "master";
@import "./welcome_box";
@import "./profile_box";
@import 'components/request_sent_modal';
@import 'components/volunteer_request_modal';
//= require_self

.requests_index {

  .top_panel {
    margin-bottom: 30px;

    .box {
      height: 142px;
    }

    .welcome {
      @include welcome-box;
    }

    .profile {
      @include profile-box;
    }
  }

  .main_panel {
    .box {
      padding: 0;

      .header.requests_list_title {
        margin: 0;
      }
      .filter {
        background-color: #ebebeb;
        padding: 9px 8px 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #dedfe0;
        .custom-span {
          width: 168px;
        }
        form {
          margin: 0;
          select {
            font-size: 17px;
          }
        }
      }
    }

    .content {
      .empty_group {
        @include box-sizing(border-box);
        height: 456px;
        text-align: center;
        padding-top: 200px;
      }
    }
  }
}
