.info
  %strong= req.category.name
.action
  - if user_signed_in? and req.responded_users.include? current_user
    %a.btn.disabled= t("components.request_row.actions.im_helping")
  - else
    %a.btn{:href => modal_request_path(req), "data-remote" => modal_request_path(req), "data-target" => "#request_modal", "data-toggle" => "modal"}= t("components.request_row.actions.i_want_to_help")

#request_modal.modal.hide.fade
  .modal-header
    %button.close{ data: {dismiss:"modal"}, aria: { hidden: true}} &times;
    %h3= t("modals.volunteer.request.header")
  .modal-body