.request_row.row
  != render "components/request/request_details", req: req

  .actions
    - if type == 'school'
      != render "components/request/request_school_data", :req => req
    - elsif type == 'user'
      != render "components/request/request_user_data", :req => req
    - else
      != render "components/request/request_main_data", :req => req
