!!!
%html
  %head
    %style
      h1 {

      }
      p {

      }
  %body
    %h1
      Hello, #{@response.request.school.admin.fullname}.
    %p
      #{@response.user.fullname} has answered your volunteer request.