= form_tag(users_path, :method => :post, :class => "form-horizontal user_creation_form") do
  = render "form_fields", :user => @user
  = form_submit_button(t("users.pages.new.actions.create"), :class => "btn btn-orange")