//===========================================GRAYS==================================================
$gray-dark: #444444;
$gray: #656565;
$gray-light: #b3b3b3;
$gray-lighter: #f1f1f1;



$gray-text: $gray-dark;
$gray-title-text: #585f64;

$background-color: #e8edf0;

//=========================================TYPE=====================================================
$definition-term-color: lighten($gray-dark, 45%);
$definition-data-color: $gray-dark;
//=========================================MODALS===================================================
$modal-header-background-color: $gray-lighter;
$modal-sections-separator-color: $gray-lighter;
$modal-separator-color: $gray-lighter;
//=========================================BRAND====================================================
$brand-primary:
