$light:   300;
$normal:  400;
$bold:    700;

$title-fonts: 'MeodedPashut', Arial, san-serif;
$body-fonts: Arial, san-serif;

@font-face{
	font-family:'MeodedPashut';
	font-weight: $light;
	font-style: normal;
	src: font-url('meodedpashut_oelight.eot');
	src: font-url('meodedpashut_oelight.eot?#iefix') format('embedded-opentype'),
         font-url('meodedpashut_oelight.ttf') format('truetype'),
         font-url('meodedpashut_oelight.woff') format('woff'),
         font-url('meodedpashut_oelight.svg#MeodedPashutLight') format('svg');
}


@font-face{
	font-family:'MeodedPashut';
	font-weight: $normal;
	font-style: normal;
	src: font-url('meodedpashut_oeregular.eot');
	src: font-url('meodedpashut_oeregular.eot?#iefix') format('embedded-opentype'),
         font-url('meodedpashut_oeregular.ttf') format('truetype'),
         font-url('meodedpashut_oeregular.woff') format('woff'),
         font-url('meodedpashut_oeregular.svg#MeodedPashut') format('svg');
}

@font-face{
	font-family:'MeodedPashut';
	font-weight: $bold;
	font-style: normal;
	src: font-url('meodedpashut_oebold.eot');
	src: font-url('meodedpashut_oebold.eot?#iefix') format('embedded-opentype'),
         font-url('meodedpashut_oebold.ttf') format('truetype'),
         font-url('meodedpashut_oebold.woff') format('woff'),
         font-url('meodedpashut_oebold.svg#MeodedPashutBold') format('svg');
}
