$light:   300;
$normal:  400;
$bold:    700;

$title-fonts: 'MeodedPashut', Arial, san-serif;
$body-fonts: Arial, san-serif;

@font-face{
	font-family:'MeodedPashut';
	font-weight: $light; /*(light)*/
	font-style: normal;
	src: asset-url('meodedpashut_oelight.eot', font);
	src: asset-url('meodedpashut_oelight.eot?#iefix', font) format('embedded-opentype'),
         asset-url('meodedpashut_oelight.ttf', font) format('truetype'),
         asset-url('meodedpashut_oelight.woff', font) format('woff'),
         asset-url('meodedpashut_oelight.svg#MeodedPashutLight', font) format('svg');
}


@font-face{
	font-family:'MeodedPashut';
	font-weight: $normal; /*(regular)*/
	font-style: normal;
	src: asset-url('meodedpashut_oeregular.eot', font);
	src: asset-url('meodedpashut_oeregular.eot?#iefix', font) format('embedded-opentype'),
         asset-url('meodedpashut_oeregular.ttf', font) format('truetype'),
         asset-url('meodedpashut_oeregular.woff', font) format('woff'),
         asset-url('meodedpashut_oeregular.svg#MeodedPashut', font) format('svg');
}

@font-face{
	font-family:'MeodedPashut';
	font-weight: $bold; /*(bold)*/
	font-style: normal;
	src: asset-url('meodedpashut_oebold.eot', font);
	src: asset-url('meodedpashut_oebold.eot?#iefix', font) format('embedded-opentype'),
         asset-url('meodedpashut_oebold.ttf', font) format('truetype'),
         asset-url('meodedpashut_oebold.woff', font) format('woff'),
         asset-url('meodedpashut_oebold.svg#MeodedPashutBold', font) format('svg');
}
