.header.light= t("requests.pages.index.profile.logged_out.title")
%p.signup= t("requests.pages.index.profile.logged_out.description")
%a.btn.btn-orange{:href => new_user_path}= t("requests.pages.index.profile.logged_out.action")