.btn {
  font-family: $title-fonts;
  color: $gray-text;
  font-weight: $bold;
}

.btn-orange, .btn-primary.btn-orange {
  @include background(linear-gradient(#f3af26, #dc9f22));
  //@include buttonBackground(#f3af26, #dc9f22);
  color: white;
  @include text-shadow( 0 -1px 0 rgba(#000,0.15));
  &:hover{
    color: #eee;
  }
}

