@mixin row-style {
  padding: 5px 0px 5px 0;
  margin-right: 0;
  border-bottom: 1px solid #eee;
  position: relative;
  @include box-sizing(border-box);
  height: 110px;

  &:last-child {
    border-bottom: none;
  }

  .name {
    margin-bottom: 10px;
    @include text-ellipsis;
  }

  .description {
    @include text-ellipsis;
    margin-bottom: 10px;
  }

  .additional_data {
    margin-bottom: 5px;
  }

  &:hover {
    background-color: #f5f5f5;

    .name {
      color: #3F7BE1;
    }
  }

  .actions {
    position: absolute;
    left: 20px;
    top: 40px;

    .info, .action {
      @include inline-block();
    }

    .info {
      color: $grey-light;
      margin-top: -5px;
      margin-left: 5px;
    }

    .action {
      .btn {
        width: 111px;
        padding: 5px 10px;
      }
    }
  }
}