@import "./volunteer_details_popover";
@import "./volunteer_row";

.school_request_modal {

  width: 700px;

  .modal-body {

    dl {
      margin-bottom: 0;
    }

    .actions {

      form {
        float: right;
        margin-left: 10px;
      }

      button {
        float: right;
        margin-left: 10px;
      }
    }

  }

  .modal-footer {

    padding: 0;

    .volunteers {

      background-color: #f5f5f5;

      .responded {
        display: block;
        padding: 15px;
        border-bottom: 1px solid #d8d8d8;
      }

      .volunteer {
        @include volunteer-row;
      }

    }
  }

  .flash_content {
    display: none;
  }
}