$light:   300;
$normal:  400;
$bold:    700;
$black:   900;

$title-fonts: 'MeodedPashut', Arial, san-serif;
$body-fonts: Arial, san-serif;

@font-face{
	font-family:'MeodedPashut';
	font-weight: $light; /*(light)*/
	font-style: normal;
	src: url('meodedpashut_oelight.eot');
	src: url('meodedpashut_oelight.eot?#iefix') format('embedded-opentype'),
		url('meodedpashut_oelight.ttf') format('truetype'),
		url('meodedpashut_oelight.woff') format('woff'),
		url('meodedpashut_oelight.svg#MeodedPashutLight') format('svg');
}


@font-face{
	font-family:'MeodedPashut';
	font-weight: $normal; /*(regular)*/
	font-style: normal;
	src: url('meodedpashut_oeregular.eot');
	src: url('meodedpashut_oeregular.eot?#iefix') format('embedded-opentype'),
		url('meodedpashut_oeregular.ttf') format('truetype'),
		url('meodedpashut_oeregular.woff') format('woff'),
		url('meodedpashut_oeregular.svg#MeodedPashut') format('svg');
}

@font-face{
	font-family:'MeodedPashut';
	font-weight: $bold; /*(bold)*/
	font-style: normal;
	src: url('meodedpashut_oebold.eot');
	src: url('meodedpashut_oebold.eot?#iefix') format('embedded-opentype'),
		url('meodedpashut_oebold.ttf') format('truetype'),
		url('meodedpashut_oebold.woff') format('woff'),
		url('meodedpashut_oebold.svg#MeodedPashutBold') format('svg');
}

@font-face{
	font-family:'MeodedPashut';
	font-weight: $black; /*(black)*/
	font-style: normal;
	src: url('meodedpashut_oeblack.eot');
	src: url('meodedpashut_oeblack.eot?#iefix') format('embedded-opentype'),
		url('meodedpashut_oeblack.ttf') format('truetype'),
		url('meodedpashut_oeblack.woff') format('woff'),
		url('meodedpashut_oeblack.svg#MeodedPashutBlack') format('svg');
}
