.modal {
  .modal-header {
    background-color: $modal-header-background-color;
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: center;
    border-top: 1px solid #ddd;
    @include border-radius(0 0 6px 6px);
    @include box-shadow(inset 0 1px 0 $white);
    @include clearfix();
    // clear it in case folks use .pull-* classes on buttons
  }
}
