!= content_for :header do
  %h3= t("modals.request.header")
  %button.close{ data: {dismiss:"modal"}, aria: { hidden: true}} &times;


%h1
  asdasdasd asd aasdasdasd asd

%dl.dl-horizontal
  %dt
    asdasd
  %dd
    value
  %dt
    asdasd
  %dd
    value

!= content_for :footer do
  footer!
