- content_for :header do
  %button.close{ data: {dismiss:"modal"}, aria: { hidden: true}} &times;
  %h3= t("modals.request.header")

- content_for :content do
  %h1
    פגישה משהו משהו אחד אחד על מתי שהו
  %hr
  %dl.dl-horizontal
    %dt
      תיאור הבקשה
    %dd
      value
    %dt
      asdasd
    %dd
      value

- content_for :footer do
  footer!
