@import "volunteers/response_modal";
@import "components/request_details";

.response_row {
  padding: 5px 20px 5px 0;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }

  div {
    padding-bottom: 10px;
    &:last-child{
      padding-bottom: 0px;
    }
  }

  .actions {
    margin: 19px 0;
    text-align: left;

    .info, .action {
      @include inline-block();
    }

    .info {
      color: $grey-light;
      margin-left: 5px;
    }
  }
}
