//@import "master";
//@import "layouts/header";
//@import "layouts/footer";
//@import "requests/new";
//@import "requests/rindex";
//@import "schools/show";
//@import "sessions/new";
//@import "users/new";
//@import "users/show";

// base settings
@import "base/fonts";
@import "base/colors";
@import "base/effects";

$font-size-base: 18px;
$font-family-base: $body-fonts;
$body-bg: $background-color;

// vendor stylesheets
@import "twitter/bootstrap";
@import "compass";
@import "photoshop-drop-shadow";

@import 'new_styles/header';
@import 'new_styles/user_panel';

body{
  direction: rtl;
  @include background-image(
    image-url("background.png")
  );
}

h1,h2,h3,h4,h5{
  font-family: $title-fonts;
  color: $gray-text;
  font-weight: $normal;
}

//h1{
//  font-size: 38px;
//}