@import "master";
@import "layouts/header";
@import "layouts/footer";
// datepicker
@import "zebra-datepicker/default.css";

body{
  direction: rtl;
  font-family: $body-fonts;
  background-color: $background-color;
  @include background-image(
    image-url("background.png")
  );
}

h1,h2,h3,h4,h5{
  font-family: $title-fonts;
  color: $grey-text;
  font-weight: $normal;
}

h1{
  font-size: 38px;
}