.user-panel {
  font-size: 14px;
  color: white;
  @include text-shadow(0 -1px 0 rgba(#000, 0.35));

  .signed_out{

   #email{
     margin: 0 5px;
   }

  }

  form{
   @include inline-block;
  }

  a{
   color: white;
   text-decoration: underline;
  }

  input[type='text'], input[type='password'] {
   width: 110px;
   font-size: 16px;
   margin-top: 0;
  }

  .navbar-text{
    line-height: $navbar-height;

  }

}