.manage_requests {
  .header {
    margin-bottom: 20px;

    .new_request {
      width: 150px;
      float: left;
    }
  }

  .list {
    .empty {
      margin: 200px auto;
      width: 160px;

      span {
        display: block;
        text-align: center;
        margin-bottom: 10px;
      }

      a {
        display: block;
      }
    }
  }
}
