.navbar-text.signed_in_volunteer
  %span= t("layout.header.user_panel.logged_in.hello")
  %span= current_user.first_name
  %span &nbsp;
  %a{:href => sign_out_path}= t("layout.header.user_panel.logged_in.sign_out")