.navbar-text.signed_in_school
  %span= t("layout.header.hello")
  %span= current_user.first_name
  %span ·
  %a{:href => requests_path}!= t("layout.header.manage_school")
  -#%span ·
  -#%a{:href => "/edit"}!= t("layout.header.edit_school")
  %span ·
  %a{:href => "/log_out"}= t("layout.header.sign_out")
