.navbar-text.signed_in_volunteer
  %span= t("layout.header.hello")
  %span= current_user.first_name
  %span &nbsp;
  %a{:href => "/log_out"}= t("layout.header.sign_out")
  -#%span ·
  -#%a{:href => "/log_in"}!= t("layout.header.school_entrance")