.navbar-text.signed_in_school
  %span= t("header.hello")
  %span יונתן
  %span ·
  %a{:href => "/manage"}!= t("header.manage_school")
  %span ·
  %a{:href => "/edit"}!= t("header.edit_school")
  %span ·
  %a{:href => "/signout"}= t("header.sign_out")
