.user-panel.pull-right
  != render :partial => "layouts/user_panel/signed_out"
  -#!= render :partial => "layouts/user_panel/signed_in_volunteer"
  -#!= render :partial => "layouts/user_panel/signed_in_school"