= t 'email.activity_completed.hello', :user => @response.user.fullname
= t 'email.activity_completed.message1', :activity => @response.request.name
= t 'email.activity_completed.note_from_school', :note => @response.note_from_school