%h1 Welcome

.row
  .box.span8
    .header
      מה נשמע
    %p
      Everything is cool
      %br
      Everything is cool
  .box.span4
    %h2 ברוכים הבאים
    %p
      הרבה הרבה טקסט
      הרבה טקסט

.row
  .box.span12
    .header
      .title כותרת רגילה
    %p סתם טקסט פשוט


.row
  .box.span12
    .header.light כותרת בהירה
    %p עוד טקסט