%h1 Welcome

.row
  .box.span8
    .header
      מה נשמע
    %p
      Everything is cool
      %br
      Everything is cool
  .box.span4
    %h2 מעוניין להתנדב
    %p
      הרבה הרבה טקסט
      הרבה טקסט
      %a.btn.btn-orange
        הירשם כמתנדב חדש
%br
.row
  .span6
    %h1 כפתורים
    %a.btn.btn-mini מיני
    %a.btn.btn-small קטן
    %a.btn רגיל
    %a.btn.btn-large גדול
  .span6
    %h1 כפתורים כתומים
    %a.btn.btn-orange.btn-mini מיני
    %a.btn.btn-orange.btn-small קטן
    %a.btn.btn-orange רגיל
    %a.btn.btn-large.btn-orange גדול

%br
.row
  .box.span12
    %h2 הרשמת בית ספר חדש
    %hr
    %p סתם טקסט פשוט

%br

.row
  .box.span12
    .header כותרת רגילה
    %p סתם טקסט פשוט

%br

.row
  .box.span12
    .header.light כותרת בהירה
    %p עוד טקסט

%a.btn.btn-orange{href: "#request_modal", data: {toggle: "modal"}} open modal
-#!= modal "request_modal", "request_modal", object: {vrequest: Request.first}

%br


.row
  .span12
    %ul.nav.nav-tabs
      %li.active
        %a{:href => ""} בקשות פתוחות
      %li
        %a{:href => ""} בקשות שהתקבלו
.row
  .box.span12.tab-content
    %p shit
