@import "master";
@import "users/response_row";

.volunteer_profile {

  .profile_details {
    margin-bottom: 18px;
  }

  .user_details {
    margin-top: 10px;
  }
}

.open_requests {
  .box {
    padding: 0;
  }

  .header {
    margin: 0;
  }
}

.closed_requests {
  margin-bottom: 20px;

  .box {
    padding: 0;
  }

  .header {
    margin: 0;
  }
}

.empty_group {
  padding: 10px;
}