@import "master";
@import "users/response_row";

.volunteer_profile {

  .profile_details {
    margin-bottom: 18px;
  }

  .user_details {
    margin-top: 10px;
  }
}

.closed_requests {
  margin-bottom: 20px;
}