%header.navbar.navbar-static-top
  .navbar-inner
    .container
      %a.brand{:href => root_path}
        = t("layout.header.title")
        .face
      != render :partial => "layouts/user_panel/user_panel"