!!!
%html
  %head
    %meta{:charset=>"utf-8"}
    %style{:type => 'text/css'}= @css.html_safe
  %body
    %table.backgroundTable
      %tr
        %td.background_cell
          %table.message_container{:align => :center}
            %tr
              %td.header_container
                %table.header{:align => :center}
                  %tr
                    %td.logo
                      %img{:src => image_path('mail/header.png')}

            %tr
              %td.content_container
                %table{:align => :right}
                  %tr.margin
                  %tr
                    %td.yield_cell
                      != yield
                  %tr.margin